__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db

.vscode/
.idea/

build/
dist/
*.egg-info/

/data

*.bam
*.bai
*.sam
*.fastq
*.fq
*.bed
*.bedgraph
*.wig
*.bigWig
*.bigBed
*.vcf
*.vcf.gz
*.gtf
*.gff
*.fa
*.fasta
*.rds

.cache/
*_cache/hal/

external/
results/